.filter {
  width: 100%;
  height: 80px;
  // background-color: pink;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  .filter-category {
    cursor: pointer;
    padding: 10px 20px;
    svg {
      color: red;
      margin: 0 4px;
    }
  }
}

.slider-container {
  height: 60px;
  padding: 0 160px;
  background: pink;
  border-bottom: 1px solid #ccc;

  .slick-slider {
    position: relative;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
